@use '@angular/material' as mat;
@use '../abstracts' as *;

.form {
  @include flex(column, nowrap, flex-start, stretch);
  gap: 40px;
  width: 100%;

  .custom-input {
    width: 100%;

    @include mat.form-field-overrides(
      (
        container-height: 52px,
        outlined-container-shape: 30px,
        outlined-outline-color: transparent,
        outlined-hover-outline-color: $text-gray,
        outlined-focus-outline-color: $purple-3,
        outlined-input-text-color: $text-gray,
        outlined-input-text-placeholder-color: $text-gray,
        container-vertical-padding: 10px,
        outlined-outline-width: 1px,
        outlined-focus-outline-width: 1px,
        outlined-error-outline-color: $purple-3,
        outlined-error-hover-outline-color: $purple-3,
        outlined-error-focus-outline-color: $purple-3,
      )
    );

    .mat-mdc-text-field-wrapper {
      background-color: $bg-color;
      padding-inline: 24px;
      transition: background-color 150ms ease-in-out;
      border-radius: 100px;
    }

    .mat-mdc-form-field-error {
      color: $rosa-error;
    }

    .mat-mdc-form-field-error-wrapper {
      padding: 6px 0 0 0;
    }

    &.mat-mdc-form-field {
      .mat-mdc-form-field-infix {
        display: flex;
        align-items: center;
        padding: 0;
      }
    }

    .mat-mdc-form-field-icon-prefix {
      padding: 0;
    }

    mat-icon[matPrefix],
    img[matPrefix],
    svg[matPrefix],
    .mat-mdc-form-field-icon-prefix {
      width: 24px;
      height: 24px;
      color: $text-gray;
      transition: color 150ms ease;
    }

    .mat-mdc-form-field-flex {
      width: 100%;
      display: flex;
      gap: 30px;
    }

    input.mat-mdc-input-element {
      @include fluid-text(16, 18);
      font-family: 'Nunito Variable', sans-serif;
      font-weight: 500;
      border: none;
      background: transparent;
      box-shadow: none;
      transition: color 150ms ease;

      &::placeholder {
        transition:
          color 150ms ease,
          -webkit-text-fill-color 150ms ease;
      }
    }

    &.mat-focused,
    &:has(input.mat-mdc-input-element:not(:placeholder-shown)) {
      mat-icon[matPrefix],
      img[matPrefix],
      svg[matPrefix],
      .mat-mdc-form-field-icon-prefix {
        color: $black;
      }
    }

    &.mat-focused,
    &:has(input.mat-mdc-input-element:not(:placeholder-shown)) {
      input.mat-mdc-input-element {
        color: $black;
        -webkit-text-fill-color: $black;

        &::placeholder {
          color: transparent;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

input,
textarea,
select {
  @include clean-autofill($bg-color, $black);
}

body .mat-mdc-form-field {
  input.mat-mdc-input-element {
    @include clean-autofill($bg-color, $black);
  }

  &.mat-focused input.mat-mdc-input-element {
    @include clean-autofill($bg-color, $black);
  }
}

@include mobile-md {
  .form {
    gap: 30px;

    .custom-input .mat-mdc-form-field-flex {
      gap: 20px;
    }
  }
}