.emoji-picker-host {
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  z-index: 1300;

  &--visible {
    visibility: visible;
    pointer-events: auto;
  }

  app-emoji-picker-popup {
    display: block;
    width: 100%;
    height: 100%;
  }
}