@use '../../../styles/abstracts/mixins' as mx;

.header {
  @include mx.flex(row, nowrap, space-between, center);
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  padding: 0 50px;
  box-sizing: border-box;
  z-index: 10;
  max-width: 1920px;

  &__left {
    @include mx.flex(row, nowrap, flex-start, center);
    flex: 1;
  }

  &__center {
    @include mx.flex(row, nowrap, center, center);
    flex: 2;
    margin-left: clamp(16px, 6vw, 100px);
    margin-right: clamp(16px, 9vw, 150px);

    app-searchbar {
      width: 100%;
      max-width: 990px;
      display: block;
    }
  }

  &__right {
    @include mx.flex(row, nowrap, flex-end, center);
    flex: 1;
  }

  &__logo {
    width: 240px;
    height: 70px;
  }
}

@include mx.mobile {
  .header {
    top: 20px;
    padding: 0 20px;

    &__logo {
      width: 180px;
      height: 52px;
    }

    &__center {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}
