<div class="message-input" [class.message-input--disabled]="disabled" (click)="onMessageInputClick()">
  <div class="emoji-popup" [class.visible]="showEmojiPicker" (click)="$event.stopPropagation()">
    <emoji-mart
      title="Emoji auswählen"
      [i18n]="emojiPickerI18n"
      [isNative]="false"
      set="apple"
      [showPreview]="false"
      [enableSearch]="true"
      [emojiSize]="30"
      [perLine]="9"
      [style]="emojiPickerStyle"
      color="#444df2"
      (emojiClick)="addEmoji($event)"
    ></emoji-mart>
  </div>

  
  @if (activePopup === 'users') {
    <div class="mention-popup" (click)="$event.stopPropagation()">
      <div class="mention-popup__list">
        @if (isLoading) {
          <div class="mention-popup__loading">Mitglieder werden geladen...</div>
        } @else {
          @for (user of popupUsers; track user.id) {
            <div class="mention-popup__item" (click)="insertUserMention(user)">
              <div class="mention-popup__avatar-container">
                <img [src]="user.avatar" class="mention-popup__avatar" alt="Avatar">
                <span class="mention-popup__status-badge" [class.online]="isUserOnlineById(user.id)"></span>
              </div>
              <span class="mention-popup__name">{{ user.name }} {{ user.id === currentUserId ? '(Du)' : '' }}</span>
            </div>
          }
          @if (popupUsers.length === 0) {
            <div class="mention-popup__empty">Keine Mitglieder gefunden</div>
          }
        }
      </div>
    </div>
  }

  
  @if (activePopup === 'channels') {
    <div class="mention-popup" (click)="$event.stopPropagation()">
      <div class="mention-popup__list">
        @if (isLoading) {
          <div class="mention-popup__loading">Channels werden geladen...</div>
        } @else {
          @for (channel of popupChannels; track channel.id) {
            <div class="mention-popup__item" (click)="insertMention('#' + channel.name)">
              <span class="mention-popup__hashtag">#</span>
              <span class="mention-popup__name">{{ channel.name }}</span>
            </div>
          }
          @if (popupChannels.length === 0) {
            <div class="mention-popup__empty">Keine Channels vorhanden</div>
          }
        }
      </div>
    </div>
  }

  <div class="message-input__editor">
    @if (messageText.length > 0) {
      <div class="message-input__rendered" aria-hidden="true">
        <div
          class="message-input__rendered-content"
          [style.transform]="'translateY(-' + renderedScrollTop + 'px)'"
        >
          @for (part of messageTextParts; track $index) {
            @if (part.type === 'emoji') {
              <ngx-emoji
                class="message-input__rendered-emoji"
                [emoji]="part.unified!"
                [set]="emojiSet"
                [size]="20"
              ></ngx-emoji>
            } @else if (part.type === 'newline') {
              <br />
            } @else {
              <span>{{ part.text }}</span>
            }
          }
        </div>
      </div>
    }

    <textarea 
      #messageTextarea
      class="message-input__textarea" 
      [placeholder]="placeholder"
      [(ngModel)]="messageText"
      (input)="onInputChange()"
      (scroll)="onTextareaScroll()"
      (keydown.enter)="onEnterPressed($event)"
      [disabled]="disabled"
    ></textarea>
  </div>
  
  <div class="message-input__actions">
    <div class="message-input__actions-left">
      <button class="message-input__btn" [class.active]="isEmojiActive" (click)="$event.stopPropagation(); toggleEmoji()" type="button" aria-label="Add Emoji" [disabled]="disabled">
        <img src="img/icons/chatarea/sentiment_satisfied.svg" class="message-input__icon" alt="Smiley">
      </button>
      <button class="message-input__btn" [class.active]="isMentionActive" (click)="$event.stopPropagation(); toggleMention()" type="button" aria-label="Mention User" [disabled]="disabled">
        <img src="img/icons/chatarea/alternate_email.svg" class="message-input__icon" alt="Mention">
      </button>
    </div>
    
    <div class="message-input__actions-right">
      <button 
        class="message-input__send-btn" 
        [class.message-input__send-btn--active]="messageText.trim().length > 0"
        (click)="send()" 
        type="button" 
        aria-label="Send Message"
        [disabled]="disabled"
      >
        <img src="img/icons/chatarea/send.svg" class="message-input__send-icon" alt="Send">
      </button>
    </div>
  </div>
</div>
