@use '../../../styles/abstracts' as *;

main {
  @include flex(row, nowrap, center, center);
}

.page-container {
  @include flex(row, nowrap, center, center);
  position: relative;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  box-sizing: border-box;

  @include tablet-lg {
    background: $white;
  }
}

.legal-card {
  @include flex(column, nowrap, flex-start, stretch);
  gap: 30px;
  background-color: $white;
  border-radius: 30px;
  padding: 50px 60px;
  width: calc(100vw - 30px);
  max-width: 680px;
  box-shadow: 0 2px 10px 0 rgba($black, 0.14);
  box-sizing: border-box;

  &__group {
    @include flex(column, nowrap, flex-start, stretch);
    gap: 16px;
  }

  &__address {
    @include flex(column, nowrap, flex-start, stretch);
    color: $black;
  }

  &__contact {
    @include flex(column, nowrap, flex-start, stretch);
    gap: 16px;

    .email-link {
      color: $purple-1;
      text-decoration: none;
      font-weight: 600;
      transition: color 150ms ease-in-out;

      &:hover {
        color: $purple-2;
        text-decoration: underline;
      }
    }
  }
}

/* #region RESPONSIVE */
@include mobile-sm{
  .legal-card {
    padding: 30px 40px;
  }
}
/* #endregion */