@use '../../../styles/abstracts' as *;
@use '../../../styles/components/button' as *;

main {
  @include flex(row, nowrap, center, center);
}

.page-container {
  @include flex(column, nowrap, center, center);
  position: relative;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 110px 20px;
}

.login-form-box {
  @include flex(column, nowrap, flex-start, stretch);
  background: $white;
  padding: 40px 50px;
  border-radius: 30px;
  box-shadow: 0 10px 40px rgba($black, 0.04);
  text-align: center;
  width: 600px;
  box-sizing: border-box;
  gap: 45px;
  position: relative;
  @include mobile-md {
    padding: 20px;
  }

  .btn-back {
    position: absolute;
    top: 45px;
    left: 32px;
  }

  .form-box-header {
    @include flex(column, nowrap, flex-start, stretch);
    gap: 30px;
  }
}

.mobile-header-only,
.mobile-register-only {
  display: none;
}

.desktop-header-only {
  display: block;
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.custom-checkbox {
  @include flex(row, nowrap, flex-start, center);
  gap: 8px;

  .checkbox-label {
    text-align: left;
    hyphens: auto;
  }

  .checkbox-icon {
    color: $purple-2;
    transition: color 150ms ease-in-out;
    flex-shrink: 0;
  }

  &:hover .checkbox-icon {
    color: $purple-1;
    cursor: pointer;
    background-color: $bg-color;
    border-radius: 50%;
  }

  a {
    color: $purple-2;
    text-decoration: none;
    hyphens: none;
    border-radius: 30px;
    transition:
      color 150ms ease-in-out,
      text-shadow 150ms ease-in-out;

    &:hover {
      color: $purple-1;
      text-shadow: 0 0 0.4px currentColor;
      background-color: $bg-color;
    }
  }

  @include mobile-md {
    @include flex(row, nowrap, flex-start, flex-start);
  }
}

.form .btn-primary {
  align-self: flex-end;
}

/* #region RESPONSIVE */

@media (max-width: 768px) {
  .desktop-header-only {
    display: none;
  }

  .mobile-header-only {
    @include flex(row, nowrap, center, center);
    width: 100%;
    padding-top: 70px;
    box-sizing: border-box;
  }

  .login-logo {
    height: 80px;
    object-fit: contain;
  }

  .page-container {
    @include flex(column, nowrap, flex-start, center);
    padding: 0 16px 50px 16px;
  }

  .login-form-box {
    width: 100%;
    max-width: 600px;
    margin-block: 30px;
    gap: 20px;

    .form-box-header {
      gap: 20px;
      
      h1{
        margin-inline: 35px;
      }
    }

    .btn-back {
      top: 20px;
      left: 15px;
    }
  }
}

/* #endregion */