<main>
  <div class="page-container">
    <app-header
      [showSearch]="false"
      [showProfile]="false"
      [showSignup]="false"
      [isTransparent]="true"
      [loginHeader]="false"
      class="desktop-header-only"
    ></app-header>

    <div class="mobile-header-only">
      <img src="img/logo/logo_with_text.svg" alt="DABubble Logo" class="login-logo" />
    </div>

    <div class="login-form-box">
      <button class="btn-back" aria-label="Zurück" routerLink="/login">
        <img class="btn-back__icon" src="img/icons/arrow_back.svg" alt="Zurück Button" />
        <img
          class="btn-back__icon-hover"
          src="img/icons/arrow_back_hover.svg"
          alt="Zurück Button"
        />
      </button>
      <header class="form-box-header">
        <h1 class="text-headline-blue">Passwort zurücksetzen</h1>
        <p class="text-body">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
      </header>

      <form [formGroup]="form" class="form" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="custom-input" subscriptSizing="dynamic">
          <mat-icon matPrefix svgIcon="mail"></mat-icon>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="beispielname@email.com"
            (input)="clearLoginError()"
          />
          @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
            <mat-error>Bitte geben Sie Ihre E-Mail ein.</mat-error>
          }
          @if (form.get('email')?.hasError('pattern')) {
            <mat-error>*Diese E-Mail-Adresse ist leider ungültig.</mat-error>
          }
        </mat-form-field>

        <p class="reset-note text-body">
          Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
        </p>

        <div class="btns-container">
          <button class="btn-primary" type="submit" [disabled]="form.invalid || loading()">
            E-Mail senden
          </button>
        </div>
      </form>
    </div>

    <app-footer></app-footer>
  </div>
</main>
