@use '../../../styles/abstracts' as *;

main {
  @include flex(row, nowrap, center, flex-start);
}

.page-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  box-sizing: border-box;
}

.datenschutz-layout {
  @include flex(column, nowrap, flex-start, stretch);
  gap: 32px;
  width: 100%;
  padding: 120px clamp(15px, -40px + 17.1875vw, 290px) clamp(40px, 38px + 0.625vw, 50px);
  box-sizing: border-box;

  @include tablet-lg {
    background: $white;
  }
}

.datenschutz-header {
  h1 {
    margin: 0;
  }
}

.datenschutz-content {
  @include flex(column, nowrap, flex-start, stretch);
  gap: 32px;
}

.datenschutz-section {
  @include flex(column, nowrap, flex-start, stretch);
  gap: 8px;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
    line-height: 1.5;
    color: $black;
  }
}