@use '../../../styles/abstracts' as *;
@use '../../../styles/components' as *;

main {
  @include flex(row, nowrap, center, center);
}

.page-container {
  @include flex(column, nowrap, center, center);
  position: relative;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 110px 20px;
}

.login-form-box {
  @include flex(column, nowrap, flex-start, stretch);
  background: $white;
  padding: 50px 60px;
  border-radius: 30px;
  box-shadow: 0 10px 40px rgba($black, 0.04);
  text-align: center;
  width: 600px;
  box-sizing: border-box;
  gap: 45px;

  .form-box-header {
    @include flex(column, nowrap, flex-start, stretch);
    gap: 30px;
  }
}

.forgot-password-link {
  color: $purple-2;
  text-decoration: none;
  transition: color 150ms ease-in-out;
  height: 32px;
  border-radius: 30px;
  padding: 5px 15px;

  &:hover {
    font-weight: 500;
    color: $purple-1;
    background-color: $bg-color;
  }
}

.divider {
  @include flex(row, nowrap, center, center);
  gap: 16px;
  color: $black;
  width: 100%;

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $light-purple;
  }
}

.btns-container {
  @include flex(row, wrap, center, center);
  gap: 30px;
  width: 100%;
}

.mobile-header-only {
  display: none;

  &.invisible {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.mobile-register-only {
  display: none;
}

.desktop-header-only {
  display: block;

  &.invisible {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}


/* #region RESPONSIVE */
@media (max-width: 768px) {
  .desktop-header-only {
    display: none;
  }

  .mobile-header-only {
    @include flex(row, nowrap, center, center);
    width: 100%;
    padding-top: 70px;
    box-sizing: border-box;
  }

  .login-logo {
    width: 200px;
    height: 50px;
    object-fit: contain;
  }

  .page-container {
    @include flex(column, nowrap, flex-start, center);
    padding: 0 16px 50px 16px;
  }

  .login-form-box {
    width: 100%;
    max-width: 600px;
    margin-block: 30px;
    padding: 35px 20px;
    gap: 20px;

    .form-box-header {
      gap: 20px;
    }
  }

  .btns-container {
    gap: 30px;
  }

  .mobile-register-only {
    @include flex(column, nowrap, flex-start, center);
    width: 100%;
    gap: 20px;

    .btn-register {
      padding: 7px 18px;
      border-radius: 25px;
      background-color: transparent;
      color: $purple-1;
      border: 1px solid $purple-2;
      cursor: pointer;
    }
  }
}

@media (max-width: 410px) {
  .btns-container {
    @include flex(column, wrap, center, center);
    .btn-primary,
    .btn-secondary {
      width: 100%;
    }
  }
}
/* #endregion */