@if (toast(); as currentToast) {
  @if (currentToast.overlay !== false) {
    <div class="toast-overlay" aria-hidden="true"></div>
  }
  
  <div
    class="toast"
    [class.toast--success]="currentToast.type === 'success'"
    [class.toast--error]="currentToast.type === 'error'"
    aria-atomic="true"
    aria-live="polite"
    role="status"
  >
    @if (currentToast.icon === 'send') {
      <img class="toast-icon" src="img/icons/send.svg" alt="E-Mail gesendet" />
    }
    
    <p class="text-toast">{{ currentToast.message }}</p>
  </div>
}