@use '../../../styles/abstracts/mixins' as mx;

.main-layout {
  position: relative;
  background-color: var(--bg-color);
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 120px 50px 30px 50px;

  &__content {
    @include mx.flex(row, nowrap, flex-start, stretch);
    width: 100%;
    height: calc(100vh - 150px);
    gap: 20px;
    transition: gap 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    app-sidebar {
      display: block;
      transition: margin-right 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    app-chat-area {
      display: block;
      width: 990px;
      transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    app-thread-view {
      display: block;
      width: 485px;
      height: 940px;
      flex-shrink: 0;
    }
  }

  &--sidebar-closed {
    app-sidebar {
      margin-right: -20px;
    }

    app-chat-area {
      width: 1375px;
    }
  }
}

/* #region RESPONSIVE */
@include mx.mobile {
  .main-layout {
    padding: 100px 20px 20px 20px;

    &__content {
      @include mx.flex(column, nowrap, flex-start, stretch);
      height: auto;
      gap: 20px;

      app-chat-area {
        width: 100%;
      }

      app-thread-view {
        width: 100%;
      }
    }

    &--sidebar-closed {
      app-chat-area {
        width: 100%;
        margin-left: 0;
      }

      app-thread-view {
        width: 100%;
      }
    }
  }
}
/* #endregion */
