@use '../../../styles/abstracts/mixins' as mx;

.intro {
  @include mx.flex(row, nowrap, center, center);
  height: 100vh;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;

  &__background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, var(--purple-2) 0%, var(--purple-1) 100%);
    background-position: center;
    background-size: cover;
    z-index: 1;
    transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;

    &--fade {
      opacity: 0;
    }
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    z-index: 2;
    @include mx.flex(row, nowrap, center, center);
  }

  &__logo-wrapper {
    width: 243px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    z-index: 2;
    transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);
    clip-path: inset(0 71.2% 0 0);
    animation: logoReveal 500ms ease-out both;
    animation-delay: 1800ms;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1);

    &--white {
      z-index: 2;
      opacity: 1;
    }

    &--black {
      z-index: 1;
    }
  }
}

.intro.intro--sliding {
  .intro__logo-wrapper {
    top: 62px;
    left: 141.5px;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    animation: none;
    clip-path: inset(0 0 0 0);
  }

  .intro__logo--white {
    opacity: 0;
  }
}

@keyframes logoReveal {
  0% { clip-path: inset(0 71.2% 0 0); }
  100% { clip-path: inset(0 0% 0 0); }
}

/* #region RESPONSIVE */
@media (max-width: 768px) {
  .intro {
    .intro__logo-wrapper {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  .intro.intro--sliding {
    .intro__logo-wrapper {
      top: 95px;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.7143);
      animation: none;
      clip-path: inset(0 0 0 0);
    }
  }
}
/* #endregion */