<div class="thread-view">
  <div class="thread-view__header">
    <div class="thread-view__header-left">
      <h2 class="thread-view__title text-title-24">Thread</h2>
      <span class="thread-view__channel-name text-chat-time"># Entwicklerteam</span>
    </div>

    <button class="thread-view__close-btn" type="button" aria-label="Thread schließen">
      <img src="img/icons/threads/close_button.svg" class="thread-view__close-icon thread-view__close-icon--normal" alt="Thread schließen">
      <img src="img/icons/threads/close_button_hover.svg" class="thread-view__close-icon thread-view__close-icon--hover" alt="Thread schließen">
    </button>
  </div>

  <div class="thread-view__body">
  </div>

  <div class="thread-view__footer">
    <app-message-input placeholder="Antworten..."></app-message-input>
  </div>
</div>