@use '../../../styles/abstracts' as *;
@use '../../../styles/components' as *;

.signup {
    @include flex(column, nowrap, flex-start, center);
    width: 100%;
    gap: 10px;

    .btn-register {
      padding: 7px 18px;
      border-radius: 25px;
      background-color: transparent;
      border: 1px solid transparent;
      color: $purple-2;
      cursor: pointer;
      font-weight: 400;

      transition: all 0.35s ease;
      &:hover {
        border-color: $purple-2;
        color: $purple-1;
        font-weight: 500;
      }
    }
  }