body {
  background-color: var(--bg-color);
}

main {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.header.login-header.header--transparent {
	justify-content: space-between;
}