@use '../abstracts/variables' as *;

body {
  background-color: $bg-color;
}

main {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: $bg-color;
  box-sizing: border-box;
}

.header.login-header.header--transparent {
  justify-content: space-between;
}

body:has(app-intro) {
  overflow: hidden;
  height: 100vh;
}
